<div class="custom-container">
    <div class="row">
        <div class="col-md-7">
            <div class="d-flex align-items-start flex-column h-100">
                <div class="flex-item mb-auto">
                    <a href="/" class="logo mb-4">Project Title</a>
                    <p>Get out there & discover your next slope, <br /> mountain & destination!</p>
                </div>
                <div class="copyright">
                    <p>Copyright 2023 MNTN, Inc. Terms & Privacy</p>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="row mt-md-0 mt-5">
                <div class="col-md col-12 footer__links">
                    <h3 class="footer__links__title">More on the Blog</h3>
                    <ul>
                        <li><a href="javascript:void();">About MNTN</a></li>
                        <li><a href="javascript:void();">Contributors & Writers</a></li>
                        <li><a href="javascript:void();">Write For Us</a></li>
                        <li><a href="javascript:void();">Contact Us</a></li>
                        <li><a href="javascript:void();">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-md col-12 footer__links">
                    <h3 class="footer__links__title">More on MNTN</h3>
                    <ul>
                        <li><a href="javascript:void();">The Team</a></li>
                        <li><a href="javascript:void();">Jobs</a></li>
                        <li><a href="javascript:void();">Press</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>