<nav id="mobilemenu" data-mobilemenu="true">
    <ul>
      <li><span>EQUIPMENT</span>
      <ul>
        <li><a href="javascript:void(0);">BOOT</a></li>
        <li><a href="javascript:void(0);">FIRST AID</a></li>
        <li><a href="javascript:void(0);">GAITERS</a></li>
        <li><a href="javascript:void(0);">NAVIGATION</a></li>
        <li><a href="javascript:void(0);">TREKKING POLES</a></li>
      </ul>
      </li>
      <li><a href="javascript:void(0);">ABOUT US</a></li>
      <li><a href="javascript:void(0);">BLOG</a></li>
      <li class="mobile-menu__other d-flex align-items-center">
        <span class="me-2">Follow us :</span>
        <a href="javascript:void(0);" class="me-2"><i class="icon-instagram"></i></a>
        <a href="javascript:void(0);"><i class="icon-twitter"></i></a>
      </li>
    </ul>
  </nav>